* {
    margin: 0;
}

.background {
    background: linear-gradient(#EFEFEF, #CDEDEB);
}

nav {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    background-color: #E4C6BD;
    width: 100vw;
    /*Fixed horizontal div*/
    position: fixed;
  }
  
nav > div {
    font-size: 3vw;
    margin-top: .5vh;
    margin-bottom: .5vh;
    padding: 4vh;
    font-family: 'Roboto', sans-serif;
}

.logo {
    position: absolute;
    top: .5em;
    left: .5em;
    width: 5em;
}

.about {
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    padding-top: 40vh;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 30vh;
    line-height: 2;
}

.info-heading {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    text-align: center;  
}

.portfolio-heading {
    font-family: 'Roboto', sans-serif;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 7vh;
}

.portfolio > div {
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    margin: 2em;
}

.portfolio-image {
    width: 55vw;
}

.skills {
    display: flexbox;
    justify-content: center; 
    flex-direction: row;
    padding-left: 15vw;
}

.skills > img {
    width: 8em;
    padding: 6em;
}


/* Contact form */ 
.form-text {
    font-size: 2em;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-styling {
    font-size: 2em;
    margin: .5em;
    font-family: 'Poiret One', cursive;
    border: 0px;
}

.send-button {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}