* {
    margin: 0;
}

.background {
    background: linear-gradient(#EFEFEF, #CDEDEB);
}

nav {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    background-color: #E4C6BD;
  }
  
nav > div {
    font-size: 2.5em;
    margin-top: .2em;
    margin-bottom: .2em;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

.logo {
    position: absolute;
    top: .5em;
    left: .5em;
    width: 5.25em;
}

.about {
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    padding-top: 6em;
    padding-left: 12em;
    padding-right: 12em;
    padding-bottom: 7em;
    line-height: 2;
}

.info-heading {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    text-align: center;  
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 7em;
}

.portfolio > div {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    margin: 2em;
}

.portfolio-heading {
    font-family: 'Roboto', sans-serif;
    
}

.skills {
    display: flexbox;
    justify-content: center; 
    flex-direction: row;
    padding-left: 14%;
}

.skills > img {
    width: 8em;
    padding: 6em;
}
