body {
    margin: 0;
}

/*Total container for nav and div*/
/*Display different for each browser - change display: -webkit-box*/

.total-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
}

/*Nav menu*/
.container-nav {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    background: #CDEDEB;
    width: 25%;
    /*Fixed horizontal div*/
    position: fixed;
    height: 100vh;
}

.logo {
    display: flex;
    overflow: hidden;
    height: 28vh;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu > div {
    padding: 5%;
    font-size: 1.5em;
}

/*Content*/
.content-container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    background: linear-gradient(#E4C6BD, #EDEDED);
    width: 75vw;
    margin-left: 25vw;
}

.content-container > div {
    margin: 20%;
    text-align: center;
    justify-content: center;
    line-height: 250%;
}


/*Collapse content to mobile responsiveness*/ 
@media only screen and (max-width: 765px) {
    .content-container {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        background: linear-gradient(#E4C6BD, #C5EBE8);
        width: 100%;
        margin-left: 0vw;
    }
    .container-nav {
        width: 100vw;
        height: 5vh;
        position: fixed;
    }
    .nav-menu {
        flex-direction: row;
        justify-content: space-between;
        background: #E4C6BD;
    }
    .nav-menu > div {
        font-size: 1em;

    }
    .logo {
        padding: 0%;
        height: 0vh;
        width: 0vw;
    }
}

